<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminPanelFilter</filter-name>
        <filter-class>filters.AdminPanelFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GuardianPanelFilter</filter-name>
        <filter-class>filters.GuardianPanelFilter</filter-class>
    </filter>
    <filter>
        <filter-name>StaffPanelFilter</filter-name>
        <filter-class>filters.StaffPanelFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>RegistrationsServlet</servlet-name>
        <servlet-name>MyAccountServlet</servlet-name>
        <servlet-name>ManageClassesServlet</servlet-name>
        <servlet-name>RegisterChildServlet</servlet-name>
        <servlet-name>AuthorizePaymentServlet</servlet-name>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-name>ManageChildrenServlet</servlet-name>
        <servlet-name>ManageAccountServlet</servlet-name>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-name>ViewPaymentsServlet</servlet-name>
        <servlet-name>MonthlyPaymentServlet</servlet-name>
        <servlet-name>ChildInformationServlet</servlet-name>
        <!--<servlet-name>SchoolInformationServlet</servlet-name>-->
        <servlet-name>PDFReportsServlet</servlet-name>
        <servlet-name>ViewClassesServlet</servlet-name>
        <servlet-name>ViewPaymentsServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GuardianPanelFilter</filter-name>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <servlet-name>AuthorizePaymentServlet</servlet-name>
        <servlet-name>ManageChildrenServlet</servlet-name>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-name>RegisterChildServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminPanelFilter</filter-name>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-name>RestoreBackupServlet</servlet-name>
        <servlet-name>RegistrationsServlet</servlet-name>
        <servlet-name>ManageAccountServlet</servlet-name>
        <servlet-name>ManageClassesServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffPanelFilter</filter-name>
        <servlet-name>ViewClassesServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.routing.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlets.routing.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationsServlet</servlet-name>
        <servlet-class>servlets.admin.RegistrationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountServlet</servlet-name>
        <servlet-class>servlets.routing.MyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageClassesServlet</servlet-name>
        <servlet-class>servlets.admin.ManageClassesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterChildServlet</servlet-name>
        <servlet-class>servlets.guardian.RegisterChildServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizePaymentServlet</servlet-name>
        <servlet-class>servlets.guardian.AuthorizePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <servlet-class>servlets.guardian.ReviewPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <servlet-class>servlets.guardian.ExecutePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JeanTestServlet</servlet-name>
        <servlet-class>servlets.JeanTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>servlets.guardian.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>servlets.routing.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageChildrenServlet</servlet-name>
        <servlet-class>servlets.guardian.ManageChildrenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountServlet</servlet-name>
        <servlet-class>servlets.admin.ManageAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>servlets.admin.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPaymentsServlet</servlet-name>
        <servlet-class>servlets.routing.ViewPaymentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonthlyPaymentServlet</servlet-name>
        <servlet-class>servlets.MonthlyPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChildInformationServlet</servlet-name>
        <servlet-class>servlets.routing.ChildInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchoolInformationServlet</servlet-name>
        <servlet-class>servlets.routing.SchoolInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreBackupServlet</servlet-name>
        <servlet-class>servlets.admin.RestoreBackupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFReportsServlet</servlet-name>
        <servlet-class>servlets.staff.PDFReportsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessageServlet</servlet-name>
        <servlet-class>servlets.admin.SendMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewClassesServlet</servlet-name>
        <servlet-class>servlets.staff.ViewClassesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountServlet</servlet-name>
        <url-pattern>/myaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageClassesServlet</servlet-name>
        <url-pattern>/manageclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterChildServlet</servlet-name>
        <url-pattern>/registerchild</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizePaymentServlet</servlet-name>
        <url-pattern>/authorizepayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <url-pattern>/reviewpayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <url-pattern>/executepayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JeanTestServlet</servlet-name>
        <url-pattern>/jeantest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/payregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationsServlet</servlet-name>
        <url-pattern>/registrations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageChildrenServlet</servlet-name>
        <url-pattern>/managechildren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonthlyPaymentServlet</servlet-name>
        <url-pattern>/monthlypayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChildInformationServlet</servlet-name>
        <url-pattern>/childinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPaymentsServlet</servlet-name>
        <url-pattern>/viewpayments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchoolInformationServlet</servlet-name>
        <url-pattern>/schoolinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreBackupServlet</servlet-name>
        <url-pattern>/backup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFReportsServlet</servlet-name>
        <url-pattern>/PDFreports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountServlet</servlet-name>
        <url-pattern>/manageAccounts</url-pattern>
        <url-pattern>/manageaccounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessageServlet</servlet-name>
        <url-pattern>/sendmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewClassesServlet</servlet-name>
        <url-pattern>/viewclasses</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/PageNotFound.html</location>
    </error-page>
    <env-entry>
        <env-entry-name>web-experienceId</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
    <env-entry>
        <env-entry-name>webmail-username</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
    <env-entry>
        <env-entry-name>webmail-password</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
</web-app>
